@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");


div[id="about"] {
  background-color: black;
  max-width: 100%;
   padding-bottom: 100px;
}

.child{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 padding-top: 100px;
}
.child div {
  color: white;
  width: 100%;
  font-size: 20px;
  padding-left: 90px;
}

.formalImage>img{
  width: 50%;
  border-radius: 30%;
  margin-top: -30px;
}

#contact_github1{
  width: 30px;
  margin: 20px;
}
#contact_linkedin1{
  width: 30px;
  margin: 20px;


}
#contact_email1{
  width: 30px;
  margin: 20px;
}
#contact_insta1{
  width: 40px;
background-color: black;
  margin: 20px;
  margin-bottom: 15px;
}

#contact_github1:hover{
  border-bottom: 2px solid purple;

}
#contact_linkedin1:hover{
  border-bottom: 2px solid purple;
}
#contact_email1:hover{
  border-bottom: 2px solid purple;
}
#contact_insta1:hover{
  border-bottom: 2px solid purple;
}

.about-container {
  margin-bottom: 100px;
}

.aboutMe {
  font-size: 60px;
  border-bottom: 2px solid #5b047e;
  color: #5b047e;
  animation: fadeInScale 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



@media (max-width: 768px) {

  .child {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .child div {
    font-size: 16px; 
    padding-left: 0; 
    text-align: center;
  }

  .formalImage{
    grid-row: 1;
  }

  .formalImage>img {
    width: 50%; 
    padding-bottom: 20px;
    margin-top: 0;
  }


  #contact_github1,
  #contact_linkedin1,
  #contact_email1,
  #contact_insta1 {
    width: 30px; /* Adjust social media icon size for mobile */
    margin: 10px; /* Reduce margin */
  }

  #contact_github1:hover,
  #contact_linkedin1:hover,
  #contact_email1:hover,
  #contact_insta1:hover {
    width: 20px; 
  }

  .about-container {
    margin-bottom: 30px; 
  }

  .aboutMe {
    font-size: 30px;
  }
}




