@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 50.5%;
}


.homes{
  background-color:  #12021c;
  padding-bottom: 100px;
}

 .left{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: flex-start;
  color: white;
  margin-left: 120px;
padding-top: 250px;
}
 .left > p{
 font-size: 30px;
 padding-left: 5px;
}
 .left > h2{
 font-size: 30px;
 text-align: left;
 margin: 20px 0px;
}
 .left > img{
  width: 40%;
}



.resumeButton{
  padding: 8px 30px;
  border-radius: 7px;
  font-weight: 500;
  border: 1px solid #8E05C2;
  background-color: black;
  cursor: pointer;
  color: white;
  margin-left: 10px;
}
.resumeButton:hover{
  border: 1px solid white;
  color: #8E05C2;
}

.buttonContact{
  padding: 8px 30px;
  border-radius: 7px;
  font-weight: 500;
  border: 1px solid #8E05C2;
  background-color: black;
  color: white;
  cursor: pointer;
}

.buttonContact:hover{
  border: 1px solid white;
  color: #8E05C2;
}

.backgroundImg{
    width: 30%;
  margin-left: 40%;
  margin-top: -250px;
}

/* Original styles for larger screens */

@media (max-width: 768px) {
.homes{
  height: 500px;
}

  .left {
    margin-left: 100px; 
    text-align: center; 
  }

  .left > p{
    font-size: 24px; 
    margin-top: -80px;

  }
  .left > h2 {
    font-size: 24px; 
margin-top: -5px;
  }

  .left > img {
    width: 80%;
    margin-top: -10px;
  }

  .backgroundImg {
    display: none;
  }

  .resumeButton,
  .buttonContact {
    margin-top: 20px; 
  }
}
