#nav-menu {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Adjust the z-index as needed */
  background-color: #12021c;
  padding: 10px 0;
  /* text-align: center; */
}
 
#nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", sans-serif;

}
.name{
  color: white;
}

#nav-menu ul li {
  display: inline-block;
  margin-left: 10px;
  font-family: "Gill Sans", sans-serif;
}
#nav-menu ul li:hover {
  border-bottom: 1px solid purple;
  font-size: 20px;
}
#nav-menu ul li:first-child {
  margin-right: 200px;
  font-size: 30px;
  font-weight: bold;
}

#nav-menu ul li:first-child:hover{
  border-bottom: none;
}

#nav-menu ul li:last-child {
  margin-left: 200px;
  height: 30px;
  border-radius: 10px;
}

#nav-menu ul li:last-child:hover {
border-bottom: none;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 200;
  padding: 10px 20px;
  transition: background-color 0.3s;
  color: white;
}


