/* In navbar.css or appropriate CSS file */

#nav-menu {
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 50; 
  }
  
  nav {
    backdrop-filter: blur(10px); 
    transition: background-color 0.3s ease;
  }
  
    .mobile-menu {
    z-index: 60; /* Ensure mobile menu is also on top */
  }
  

  @media (max-width: 768px) {
 
    
    nav {
      backdrop-filter: blur(10px); 
      transition: background-color 0.3s ease;
    }
    
      .mobile-menu {
      z-index: 160; 
    }
  }

  