@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 50.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.allProjects {
  background-color: black;
  width: 100%;
  padding-bottom: 50px;
}

.pro {
  font-size: 50px;
  border-bottom: 2px solid #5b047e;
  color: #5b047e;
  animation: fadeInScale 2s ease-in-out infinite alternate;
  transform-origin: center;
  padding-top: 30px;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

#projectCard {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 50px;
  gap: 20px;
}


.projectImg {
  width: 80%;
  height: 300px;
  margin-left: 50px;
  border-radius: 40px;
}

.details {
  color: white;
}
.details h2{
  font-size: 40px;
}

.details p {
  width: 100%;
  font-size: 17px;
}

.details h1{
  font-size: 30px;
}

#stacks>img {
  width: 50px;
  margin: 10px;
}

.details>a button {
  margin: 10px;
  width: 100px;
  height: 30px;
  background-color: #12021c;
  color: white;
  font-size: 12px;
  border: 1px solid purple;
  border-radius: 10px;
  cursor: pointer;

}

.details > a button:hover {
  border-bottom: 2px solid #5b047e;
  border-top: none;
  border-left: none;
  border-right: none;
}

.project-deployed-link {
  margin: 10px;
  width: 100px;
  height: 30px;
  background-color: #12021c;
  color: white;
  font-size: 12px;
  border: 1px solid purple;
  border-radius: 10px;
  cursor: pointer;

}

.project-deployed-link:hover {
  border-bottom: 2px solid #5b047e;
  border-top: none;
  border-left: none;
  border-right: none;
}


.github{
  margin-top: 40px;
  gap: 20px;
}


.streakStats{
width: 36%;
padding-top: 40px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calendar{
  width: 50%;
  color: white;
  padding-top: 40px;

}

.statsCard{
  padding-top: 40px;
}
.stats{
  color: white;
  font-size: 40px;
  padding-bottom: 20px;
}



@media (max-width: 768px) {


  .pro {
    font-size: 30px
  }

  .projectImg {
    width: 80%;
    height: auto; 
    margin-left: 0;
    border-radius: 20px; 
  }

  #projectCard {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }

  .details h2 {
    font-size: 20px; 
  }

  .details p {
    width: 95%;
    font-size: 12px; 
  }

  .details h1 {
    font-size: 20px;
  }

  #stacks>img {
    width: 25px;
    margin: 2px; 
  }

  .details > a button,
  .project-deployed-link {
    margin: 5px; 
    width: 80px; 
    height: 25px;
    font-size: 10px;
  }

  .github {
    margin-top: 20px;
    gap: 10px; 
  }
  .githubStreak,
  .streakStats
 {
    width: 50%;
  }
  .calendar{
    width: 80%;
  }
  .statsCard>img{
    width: 50%;
  }
  .calendar {
    height: 150px;
  }

  .stats {
    font-size: 32px; 
    padding-bottom: 10px; 
  }
}
