@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

html {
  font-size: 50.5%;
}


#skills{
    background-color: #12021c;
    max-width: 100%;
    height: 800px;
    padding-bottom: 200px;
}
.skill {
    font-size: 50px;
    border-bottom: 2px solid  #5b047e;
    color: #5b047e;
    animation: fadeInScale 2s ease-in-out infinite alternate;
    transform-origin: center;
  }
  
  @keyframes fadeInScale {
    0% {
      opacity: 0;
      transform: scale(0.8);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .skills-card {
    width: 200px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
  }
  
  .skills-card:hover {
    background-color: #5b047e; 
    border: 2px solid #5b047e; 
    animation: border-pulse 0.6s infinite alternate; 
  }
  
  @keyframes border-pulse {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  .grid{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   margin: auto;
   width: 50%;
   gap: 70px;
   padding-top: 50px;
  }
 
  .skills-card-img{
    width: 100px;
    margin-top: 20px;
  }
  .skills-card-name{
    color:  #5b047e;
    font-size: 20px;
    margin-top: -1px;
  }

  .skills-card:hover .skills-card-img {
    transform: scale(1.2); 
  }
  
  @media screen and (min-width: 482px) and (max-width: 1100px) {
    .skills-card-img{
      width: 25%;
    }
  }
  
  /* Styles for mobile and small tablets */
  @media screen and (max-width: 1100px) {
    #skills {
      background-color: #12021c;
      width: 100%;
      height: auto;
      margin-top: 0;
    }
  
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    width: 100%;
      gap: 10px;
      margin-top: 0;
    }
    
    .skills-card {
      width: 250px;
      border-radius: 50px;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    .skills-card:hover {
      background-color: #5b047e;
      border: 2px solid #5b047e;
      animation: border-pulse 0.6s infinite alternate;
    }
    
    .skills-card-img {
     width: 100%;
    }
    
    .skills-card-name {
     text-align: center;
    }
    
    .skills-card:hover .skills-card-img {
      transform: scale(1.2);
    }
    .skills-card-img{
      width: 25%;
    }
  }
  
  /* Styles for mobile devices */
  @media screen and (max-width: 998px) {
    /* Add specific styles for mobile devices if needed */
  }
  
  /* Styles for smaller screens */
  @media screen and (max-width: 798px) {
    /* Add specific styles for smaller screens if needed */
  }
  
  /* Styles for very small screens */
  @media screen and (max-width: 520px) {
    /* Add specific styles for very small screens if needed */
  }